{% extends 'admin/index.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Edit image</h1>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>



{% endblock %}