{% extends 'admin/index.html.twig' %}


{% block body %}

    <div class="container">
        <h1>Image</h1>

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_end(form) }}

    </div>


{% endblock %}