<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block javascripts %}
        {% javascripts
            'bundles/js/jquery-3.1.1.js'
            'bundles/js/bootstrap.js'
        %}
        <script src="{{ asset_url }}"></script>
         {% endjavascripts %}
    {% endblock %}

    {% stylesheets
        'bundles/css/default/bootstrap.css' filter='cssrewrite'
        'bundles/css/default/index.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    {% include 'topnav.html.twig' %}
    {% block body %}{% endblock %}
    {% block content %}{% endblock %}

</body>
</html>
