{% trans_default_domain 'FOSUserBundle' %}

<div class="container" id="fos">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-success"  value="{{ 'submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</div>


