{% extends '::base.html.twig' %}

{% block content %}
<div class="container top-container">
    <h1>Maak een nieuwe vraag</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('topic_index') }}">Terug naar de lijst</a>
        </li>
    </ul>
</div>
{% endblock %}
