{% extends '::base.html.twig' %}

{% block content %}
<div class="container top-container">
    <h1>Maak een bedrijf aan</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-default" value="Maak een nieuw bedrijf aan" />
    {{ form_end(form) }}

    <a href="{{ path('company_index') }}" class="btn btn-default">Terug naar overzicht</a>

</div>
{% endblock %}
